@import "../mixin/mixin";
@import "../variables/color";

.footer {
    background-color: $color-gray;
    color: $color-white;
    padding: 32px 0;

    &-inner {
        text-align: center;
    }

    &-links {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        > * + * {
            margin-left: 16px;
        }
    }
}
