// TODO: 必要に応じて記載してください。
header .logo {
  color: black;
  font-size:x-large
}

header {
    display: flex;
    background-color: #eee;
    padding: 16px 32px;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul > li + li {
    margin-left: 24px;
}

header li span {
    display: block;
    text-align: center;
}

header li .header-text1 {
    font-size: 16px;
}

header li .header-text2 {
    font-size: 12px;
}
