#main {
    background-color: #fff;

    @include mq() {
        background-color: #eee;
    }

    .main-inner {
        max-width: $pcMaxWidth;
        margin: 0 auto;
        padding: $pcMargin 100px;
    }

    .main-heading {
        font-size: 2.5rem;
        margin-top: 90px;
    }

    .main-boardList {
        & > * + * {
            margin-top: 32px;
        }

        .main-board {
            position: relative;
            display: flex;
            width: 100%;
            height: 480px;
            justify-content: flex-end;
            background-color: #fafafa;

            .main-boardNote {
                position: absolute;
                width: 540px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $color-white;
                padding: 16px;
                letter-spacing: 2.0px;
                line-height: 30px;

                h2 {
                    font-size: 1.6rem;
                    margin-bottom: 32px;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .main-boardLink {
                display: inline-block;
                height: 100%;
            }

            .main-boardImage {
                height: 100%;
            }

            &:nth-child(even) {
                justify-content: flex-start;

                .main-boardNote {
                    right: 0;
                    left: auto;
                }
            }
        }
    }

    .key-visual {
        width: 100%;
        height: 160px;
        padding-left: 160px;

        .key-visual-image {
            width: 100%;
            height: 100%;
            background-image: url("/img/pink.jpeg");
            background-position: center bottom -60px;
            background-size: cover;
        }
    }

    .page-top {
        display: flex;
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.blue {
            background-color: rgb(79, 79, 248);
        }

        &.yellow {
            background-color: rgb(221, 193, 66);
        }
    }

    .page-title {
        text-align: center;
        font-size: 28px;
        color: white;
    }

    .page-middle {
        text-align: center;
        font-size: 15px;
        color: white;
    }

    .top2 {
        height: 300px;
        width: 100%;
    }

    .index {
        .index-container {
            .top-ttl {
                padding: 130px 72px 200px;
                font-size: 50px;
                letter-spacing: 0;
                white-space: nowrap;

                .widSpan {
                    display: inline-block;
                    width: 280px;
                    text-align: left;
                }
            }
        }

        .sec01 {
            position: relative;
            z-index: 1;
            white-space: nowrap;
            height: 1080px;

            .bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                z-index: 1;
            }

            .com-box {
                position: relative;
                z-index: 5;
                padding: 55px;
            }

            .clearfix:after {
                height: 0;
                visibility: hidden;
                content: ".";
                display: block;
                clear: both;
            }

            .seminar-area {
                padding: 0;
            }

            .white-box {
                width: 45%;
                position: absolute;
                top: 10%;
                left: 15px;
                z-index: 2;
                padding: 100px 8% 85px;
                background-color: rgb(248, 244, 244);


                h2 {
                    margin-bottom: 65px;
                    font-size: 40px;
                    text-align: center;
                    font-family: "Arsenal", sans-serif;
                }

                h1 {
                    font-size: 30px;
                }

                p {
                    margin-bottom: 50px;
                    font-size: 20px;
                    line-height: 2.63;
                    letter-spacing: 1.5px;
                }

                .p2 {
                    margin-bottom: 50px;
                    font-size: 15px;
                    line-height: 1.9;
                    letter-spacing: 1.0px;
                }

                .top-link a {
                    font-size: 20px;
                }
            }
        }

        .sec02 {
            padding-top: 46%;
        }

        .sec03 {
            padding: 0 120px;
            margin-bottom: 60px;

            .sec03-title {
                margin-bottom: 64px;
                font-size: 40px;
                text-align: center;
                font-family: "Arsenal", sans-serif;
            }

            .profile-box {
                display: flex;

                .profile-box-image {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }

                .profile-box-text {
                    margin-left: 32px;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 15px;
                        line-height: 1.9;
                        letter-spacing: 1.0px;
                    }
                }
            }
        }
    }


    .com-link-ul {
        margin: 0 0 38px;
        text-align: center;
        padding: 0;

        li {
            margin-left: 40px;
            display: inline-block;

            a {
                padding-left: 50px;
                display: block;
                position: relative;
                font-size: 20px;
                overflow: hidden;
                /*font-family: 'Arsenal', sans-serif;*/
                :hover {
                    color: #ccc;
                }
            }
        }
    }

    .text-box {
        .inner {
            padding: 59px 0 64px;
            position: relative;
            width: 100%;
            background-color: #fff;
        }
    }

    .headLine {
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .text-box2 {
        text-align: center;
        font-size: 16px;
    }

    .seminar-cats span {
        display: block;
        margin-top: 15px;
    }

    /**
     * これより下はまだ存在しない要素
     */

    .com-more .text-box .inner {
        padding: 30px 0;
    }

    .com-form .lBox h2 .tel {
        font-size: 3rem;
    }

    .com-email .mail-list input[type="email"] {
        width: 65%;
    }

    .com-email .h2-img img {
        width: 300px;
    }
}
